<% if(book != null ) { %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- book.name %></li>
    </ol>
  </nav>


  <div class="row">

    <div class="col-12 col-md-4">
      <img src="<%-book.image%>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- book.name %>" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12"><h1><%- book.name %></h1></div>
        <div class="col-12 mb-4 text-italic text-secondary"><i class="bi bi-chat-right-quote"></i> <%- book.quote %></div>
        <div class="col-12" style="white-space: pre-line;">
          <h4>Description</h4>
          <%- book.description %>
        </div>
      </div>

      <div class="row pt-4">
        <%let yt = "http://www.youtube.com/watch_videos?video_ids="%> 
        <%let songStr = ""%> 
        <%for(let i = 0; i < book.songs.length; i++){%> 
          <%if(i < book.songs.length - 1){songStr += book.songs[i] + ","} else {songStr += book.songs[i]}%>
        <%}%> 
        <form action="/edit-book/<%-book.id %>" enctype="multipart/form-data" method="GET">
        <div class="col-12 m-0">
          <a href="<%-yt + songStr%> " target="_blank"><button type="button" class="btn btn-success" id="addSongBtn">Playlist for <%- book.name %></button></a>
        </div>
        <div class="col-12">
          <button type="" class="btn btn-primary mt-3">Contribute to this Book Listing</button>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <p>No item found.</p>
<% } %>